[submodule "PRF192"]
	path = PRF192
	url = https://github.com/fptqnk17/PRF192.git
[submodule "PRO192"]
	path = PRO192
	url = https://github.com/fptqnk17/PRO192.git
[submodule "DBI202"]
	path = DBI202
	url = https://github.com/fptqnk17/DBI202.git
[submodule "LAB211"]
	path = LAB211
	url = https://github.com/fptqnk17/LAB211.git
[submodule "JPD123"]
	path = JPD123
	url = https://github.com/fptqnk17/JPD123.git
[submodule "IOT102"]
	path = IOT102
	url = https://github.com/fptqnk17/IOT102.git
[submodule "PRJ301"]
	path = PRJ301
	url = https://github.com/fptqnk17/PRJ301.git
[submodule "FER202"]
	path = FER202
	url = https://github.com/fptqnk17/FER202.git
[submodule "PRN211"]
	path = PRN211
	url = https://github.com/fptqnk17/PRN211.git
[submodule "SWR302"]
	path = SWR302
	url = https://github.com/hardingadonis/SWR302.git
[submodule "SWP391"]
	path = SWP391
	url = https://github.com/hardingadonis/SWP391.git
[submodule "SWT301"]
	path = SWT301
	url = https://github.com/hardingadonis/SWT301.git
